

<div class="container">
	<div class="row">
		

		<div id="gpage" class="col-sm-6">
			<h1>Hi <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>!</h1>

			<h5>Here are the orgranizations you may join:</h5><br/><br/>
			<% @groups.reverse.each do |m| %>
			<div id="iterate">
				<a href=""><h4><%= "#{m.group_name} - #{m.user.first_name.capitalize} #{m.user.last_name.capitalize}" %></h4></a>
				<h5>Created at <%= "#{m.created_at.strftime("%B %d %Y")}" %></h5>
				<p><%= m.description %></p><br/>
				<% end %>
			</div>
			
		</div>









		<div id="gpage2" class="col-sm-6">

			<h3>Create a new organization</h3>
			<form action="/groups" method="post">
			
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<div class="form-group">
					<label for ="name"></label><br/>
					Name:<input type="text" name="group[group_name]">
				</div>
				<div class="form-group">
					<label for ="description"></label><br/>
					<textarea name="group[description]" cols="60" rows="5"></textarea>
				</div>
				<button type="submit" class="btn btn-info">Create Group</button>
			
			</form>
		</div>

	</div>
</div>

